---
name: Publish

on:
  push:
    tags:
      - '*'

jobs:
  publish:
    name: "Publish release"
    runs-on: "ubuntu-latest"

    steps:
      - uses: "actions/checkout@v3"
      - uses: "actions/setup-python@v4"
      - name: Install build dependencies
        if: steps.cache.outputs.cache-hit != 'true'
        run: pip install hatch
      - name: "Build package"
        run: "hatch run build_with_check"
      - name: "Publish to PyPI"
        run: "scripts/publish"

        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_TOKEN }}
          VERSION_FILE: "edgy/__init__.py"
      - name: "Deploy docs"
        run: |
          curl -X POST '${{ secrets.DEPLOY_DOCS }}'
